:root {
	--red: #e60b0b;
	--silver: #d0d0d0;
	--dark-grey: #4f4f4f;
}

body {
	min-height: 100vh;
	display: grid;
	align-items: center;
	justify-items: center;
	background: #FFF;
	/* background: url(https://s3.amazonaws.com/media.locally.net/original/HABA_ALT_2017-08-02-13-22-45.jpg); */
	/* background-size: cover; */
}

.frame {
	border-width: 105px 112px 128px;
	border-style: solid;
	border-color: var(--red);
	border-radius: 10px;
	background-color: var(--red);
	box-shadow: 2px 2px 6px 2px rgba(131, 103, 103, 0.7);
	position: relative;
}

/* .frame::before {
	content: '';
	width: 120%;
	height: 120%;
	display: block;
	position: absolute;
	top: -10%;
	left: -10%;
	border: 1px solid #000;
} */

canvas {
	border-radius: 20px;
	/* Set the width and height to half the actual size so it doesn't look pixelated */
	width: 680px;
	height: 476px;
	background: var(--silver);
	background: linear-gradient(149deg, 
				rgb(208,208,208) 0%, 
				rgb(229,229,229) 12%, 
				rgb(236,236,236) 27%, 
				rgb(208,208,208) 55%, 
				rgb(180,180,180) 86%);
	box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.6) inset;
}

.frame__highlight {
	position: absolute;
	width: 100%;
	height: 38px;
	bottom: -2px;
	left: 0;
	border-radius: 20px;
	box-shadow: 0px 7px 3px -2px rgba(255,255,255,0.65);
}

.frame__knob {
	position: absolute;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	background-color: #fff;
	bottom: -119px;
}

.frame__knob--left {
	left: -100px;
}

.frame__knob--right {
	right: -100px;
}

canvas.shake {
	animation: shake 0.5s linear 1;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}